apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-iris-workload
  labels:
    app: iris-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
        - name: iris-api-container
          image: us-central1-docker.pkg.dev/${PROJECT_ID}/${REPOSITORY}/${IMAGE}:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8200
          readinessProbe:
            httpGet:
              path: /ready_check
              port: 8200
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /live_check
              port: 8200
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      restartPolicy: Always
