apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-iris-workload
  labels:
    app: iris-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
        - name: iris-api-container
          image: us-central1-docker.pkg.dev/lively-nimbus-473407-m9/my-repo/iris-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8200
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /health
              port: 8200
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8200
            initialDelaySeconds: 15
            periodSeconds: 20
      restartPolicy: Always
