apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: iris-api-hpa
  labels:
    app: iris-api
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: demo-iris-workload        # must match deployment name
  minReplicas: 1                     # start with 1 pod
  maxReplicas: 3                     # scale up to 3 pods
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60     # scale when average CPU > 60%
