apiVersion: v1
kind: Service
metadata:
  name: iris-api-service
  labels:
    app: iris-api
spec:
  type: LoadBalancer        # Exposes the app externally
  selector:
    app: iris-api           # Must match deployment label
  ports:
    - protocol: TCP
      port: 80              # External port
      targetPort: 80        # Container port (FastAPI app)
